aioftp==0.22.3
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
anyio @ file:///croot/anyio_1706220167567/work
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/ci_py311/argon2-cffi-bindings_1676823553406/work
arrow==1.3.0
asteval==0.9.32
astor==0.8.1
astromodule==0.5.19
astropy @ file:///home/conda/feedstock_root/build_artifacts/astropy_1701289986705/work
astropy-iers-data @ file:///home/conda/feedstock_root/build_artifacts/astropy-iers-data_1711338029157/work
astroquery==0.4.6
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///croot/async-lru_1699554519285/work
attrs @ file:///croot/attrs_1695717823297/work
Babel @ file:///work/ci_py311/babel_1676825020543/work
backoff==2.2.1
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
bidict==0.23.1
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blessed==1.20.0
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
Cartopy @ file:///croot/cartopy_1706196109024/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi==1.15.1
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1698609955749/work
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.27.0
colorama @ file:///work/ci_py311/colorama_1676827038675/work
colorlog==6.8.2
colorspacious==1.1.2
comm @ file:///croot/comm_1709322850197/work
contourpy @ file:///croot/contourpy_1700583582875/work
cryptography @ file:///croot/cryptography_1710350347627/work
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy-split_1707093093308/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython==3.0.8
debugpy @ file:///croot/debugpy_1690905042057/work
decorator==5.1.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
desiutil==3.4.3.dev1103
distro==1.9.0
ducc0 @ file:///home/conda/feedstock_root/build_artifacts/ducc0_1705058792830/work
editor==1.6.5
entrypoints @ file:///work/ci_py311/entrypoints_1676823319002/work
et-xmlfile==1.1.0
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///work/ci_py311_2/python-fastjsonschema_1679340124475/work
fastrlock @ file:///home/conda/feedstock_root/build_artifacts/fastrlock_1702696305924/work
filelock==3.13.1
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1708049097969/work
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.12.2
functoolsplus==0.0.1
future==1.0.0
GDAL @ file:///home/conda/feedstock_root/build_artifacts/gdal-split_1710248096152/work/build/swig/python
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.41
graphviz==0.20.1
greenlet==3.0.3
grep==0.3.2
h11==0.14.0
healpy @ file:///home/conda/feedstock_root/build_artifacts/healpy_1710249278409/work
html2image==2.0.4.3
html5lib==1.1
httpcore==1.0.2
httpx==0.26.0
hugalaxy @ file:///home/mp74207/CLionProjects/HU_GalaxyPackage/dist/hugalaxy-0.0.1-cp311-cp311-linux_x86_64.whl#sha256=63a32774f3976c94fd83926658cb2f050104773a32f25042c321dc377b316797
huggingface-hub==0.20.2
idna==3.6
imageio==2.34.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1709821103657/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
inquirer==3.2.1
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython @ file:///croot/ipython_1704833016303/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.1.2
isoduration==20.11.0
jaraco.classes==3.3.0
jedi @ file:///work/ci_py311_2/jedi_1679336495545/work
jeepney==0.8.0
Jinja2 @ file:///croot/jinja2_1706733616596/work
joblib==1.3.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpointer==2.4
jsonschema @ file:///croot/jsonschema_1699041609003/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events @ file:///croot/jupyter_events_1699282461638/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter-server-mathjax==0.2.6
jupyter-to-medium==0.2.4
jupyter_client @ file:///croot/jupyter_client_1699455897726/work
jupyter_core @ file:///croot/jupyter_core_1698937308754/work
jupyter_server @ file:///croot/jupyter_server_1699466442171/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870725608/work
jupyterlab==4.1.0
jupyterlab-pygments @ file:///croot/jupyterlab_pygments_1700168593176/work
jupyterlab-vim==4.1.3
jupyterlab_server @ file:///croot/jupyterlab_server_1699555425460/work
jupyterlab_widgets==3.0.10
keyring==24.3.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
kneed==0.8.5
litellm==1.17.6
llvmlite==0.42.0
lmfit==1.2.2
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1708026439111/work
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune @ file:///work/ci_py311/mistune_1676823683049/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.4
munkres==1.1.4
mutagen==1.47.0
nb-conda-kernels @ file:///work/ci_py311/nb_conda_kernels_1676845026630/work
nbclassic @ file:///croot/nbclassic_1699542793266/work
nbclient @ file:///croot/nbclient_1698934205032/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1698678461356/work
nbdime==4.0.1
nbformat @ file:///croot/nbformat_1694616755618/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1698266734670/work
networkx==3.2.1
nlopt==2.7.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1680870634737/work
notebook_shim @ file:///croot/notebook-shim_1699455894279/work
numba==0.59.0
numexpr @ file:///croot/numexpr_1696515281613/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
open-interpreter==0.2.0
openai==1.7.2
openpyxl==3.1.2
optuna==3.5.0
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///croot/packaging_1710807400464/work
pandas @ file:///croot/pandas_1709590491089/work/dist/pandas-2.2.1-cp311-cp311-linux_x86_64.whl#sha256=0a2793a31a0135a35735e1431d453a06186a3a7c607d9b441d9bd5f0fe4ded31
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parfive==2.0.2
parso==0.8.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1704252032614/work
platformdirs @ file:///croot/platformdirs_1692205439124/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1706116770704/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1708448481555/work
posthog==3.3.1
prometheus-client @ file:///work/ci_py311_2/prometheus_client_1679340520168/work
prompt-toolkit==3.0.43
psutil==5.9.7
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.1
pyastro==1.1
PyAstronomy==0.21.0
pybind11==2.11.1
pycairo==1.26.0
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.5.3
pydantic_core==2.14.6
pyerfa @ file:///home/conda/feedstock_root/build_artifacts/pyerfa_1697801062705/work
pygame @ file:///home/conda/feedstock_root/build_artifacts/pygame_1696017322409/work
Pygments==2.17.2
pygmt @ file:///home/conda/feedstock_root/build_artifacts/pygmt_1706804691272/work
PyOpenGL==3.1.7
pyOpenSSL @ file:///croot/pyopenssl_1708380408460/work
pyparsing==3.1.1
pypdf==4.1.0
pyproj @ file:///croot/pyproj_1704901265679/work
pyshp @ file:///croot/pyshp_1706100959184/work
pyshtools @ file:///home/conda/feedstock_root/build_artifacts/pyshtools_1693227907291/work
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1709992573517/work
pytest-runner @ file:///work/ci_py311/pytest-runner_1676822995224/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
pytz @ file:///croot/pytz_1695131579487/work
pyvo==1.5
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qtconsole==5.5.1
QtPy==2.4.1
quantities==0.15.0
readchar==4.0.5
referencing @ file:///croot/referencing_1699012038513/work
regex==2023.12.25
requests @ file:///croot/requests_1707355572290/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich==13.7.0
rpds-py @ file:///croot/rpds-py_1698945930462/work
runs==1.2.0
SciencePlots==2.1.1
scikit-learn==1.4.1.post1
scipy @ file:///croot/scipy_1710947333060/work/dist/scipy-1.12.0-cp311-cp311-linux_x86_64.whl#sha256=7b785ae9c9d29498ceb02b3fe6408543b84694d22ee384fa27766e890cfbbd2f
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash @ file:///croot/send2trash_1699371139552/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1708367927455/work
simpy==4.1.1
six==1.16.0
smmap==5.0.1
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
SQLAlchemy==2.0.28
stack-data==0.6.3
stats==0.1.2a0
sunpy==5.1.1
sympy==1.12
terminado @ file:///work/ci_py311/terminado_1677696151350/work
threadpoolctl==3.3.0
tiktoken==0.4.0
tinycss2 @ file:///work/ci_py311/tinycss2_1676823757641/work
tokenizers==0.15.0
tokentrim==0.1.13
toml==0.10.2
tomli @ file:///work/ci_py311/tomli_1676822660974/work
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tornado @ file:///croot/tornado_1696936946304/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
traitlets==5.14.2
triton==2.2.0
types-python-dateutil==2.8.19.20240106
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2023.3
uncertainties==3.1.7
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1707770551213/work
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
wget==3.2
widgetsnbextension==4.0.10
xarray @ file:///croot/xarray_1689041471350/work
xlrd==2.0.1
xmod==1.8.1
yarl==1.9.4
yt-dlp==2024.3.10
zipp @ file:///croot/zipp_1704206909481/work
